@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Delius&display=swap');


body {
    background-color: #f0efeb;
    margin: 0 auto;
    text-align: center;
}
header {
    display: flex;
    background-color: #b7b7a4;
    font-family: "Delius";
}
footer {
    display: flex;
    background-color: #b7b7a4;
    font-family: "Delius";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer nav {
    margin-top: 20px;
    justify-self: flex-end;
}
footer nav a {
    text-decoration: none;
    color: black;
}
footer nav a :hover {
    background-color: white;
}
#logo {
    width: 50px;
}
#heroimg {
    opacity: 50%;
    width: 100%;
    position: relative;
    z-index: -1;
}
h1 {
    font-family: "Delius";
    position: absolute;
    left: 3%;
    top: 6%;
}
h2 {
    font-family: "Delius";
}
#viewbtn {
    position: absolute;
    left: 10%;
    top: 20%;
    background-color: #a5a58d;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
#orderbtn {
    position: absolute;
    right: 10%;
    top: 20%;
    background-color: #a5a58d;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
h3, p {
    font-family: "Alan Sans";
}
#body {
    padding: 10px;
}
.keyimg {
    width: 150px;
    border-radius: 10px;
}
.smallbtn {
    background-color: #a5a58d;
    border: none;
    border-radius: 20px;
    padding: 10px;
}


.sidenav {
    height: 12%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #e9edc9; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

#bars {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 1.5em;
}
/* The navigation menu links */
.sidenav a {
    padding: 6px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #fefae0;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 25px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}



.arrays {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#portbody {
    padding-bottom: 20%;
    margin: 10%;
}


#orderForm {
    width: 50%;
    border: 2px solid black;
    padding: 40px;
    text-align: center;
    margin: 30% 17%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#notes {
    width: 200px;
    height: 100px;
}
.full {
    margin-top: 5%;
}


@media screen and (min-width: 600px) {
    #body {
        display: flex;
        padding-bottom: 7%;
        margin-top: 7%;
        justify-content: space-evenly;
    }
    #body div {
        max-width: 300px;
    }
    .keyimg {
        height: 200px;
    }
    #heroimg {
        height: 600px;
    }
    #viewbtn {
        left: 20%;
        top: 50%;
        font-size: 1.5em;
    }
    #orderbtn {
        right: 20%;
        top: 50%;
        font-size: 1.5em;
    }
    h1 {
        left: 30%;
        top: 10%;
        font-size: 3em;
    }
    #orderForm {
        vertical-align: top;
        margin: 5% 22%;
        height: 60vh;
    }
    #notes {
        width: 400px;
    }
}