
h1 {
    text-align: center;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 40%;
    padding: 10px;
    color: darkred;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
#two {
    margin-bottom: 60px;
}
#three {
    display: block;
    grid-column: 1/3;
    width: 100%;
}
hr {
    border-top: 1px solid orange;
}
#author {
    text-align: center;
}
.book {
    display: grid;
    grid-template-columns: 70% 30%;
}
h2 {
    text-align: center;
    grid-column: 1/2;
    color: darkred;
    grid-row: 5/6;
    padding-top: 10px;
}
img {
    grid-column: 1/2;
    grid-row: 6/7;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#desc {
    grid-column: 1/2;
    grid-row: 7/8;
    padding: 20px;
}
#date {
    grid-column: 2/3;
    text-align: right;
    grid-row: 1/2;
}
#ages {
    grid-column: 2/3;
    text-align: right;
    grid-row: 2/3;
}
#genre {
    grid-column: 2/3;
    text-align: right;
    grid-row: 3/4;
}
#rating {
    grid-column: 2/3;
    text-align: right;
    grid-row: 4/5;
}

@media (min-width: 600px) {
    .book {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    #info {
        border-right: 1px solid orange;
        grid-row: 1/8;
        margin: 20px;
    }
    h2 {
        text-align: left;
        grid-column: 2/3;
        grid-row: 1/3;
        padding-left: 20px;
    }
    img {
        grid-column: 2/3;
        margin-left: auto;
        margin-right: auto;
        grid-row: 3/6;
    }
    #desc {
        grid-column: 2/3;
        padding: 20px;
        grid-row: 6/8;
    }
    #date {
        grid-column: 1/2;
        text-align: right;
        grid-row: 1/2;
        padding-right: 10px;
    }
    #ages {
        grid-column: 1/2;
        text-align: right;
        grid-row: 2/3;
        padding-right: 10px;
    }
    #genre {
        grid-column: 1/2;
        text-align: right;
        grid-row: 3/4;
        padding-right: 10px;
    }
    #rating {
        grid-column: 1/2;
        text-align: right;
        grid-row: 4/5;
        padding-right: 10px;
    }
}